<div class="page">
  <div class="grid grid-cols-2 h-full alignt content-center">
    <div class="p-8">
      <h1
        class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl text-white"
      >
        Sekar Syafira
      </h1>
      <h2
        class="my-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl text-white"
      >
        Front End Developer
      </h2>
      <p class="text-white text-justify">
        I have expertise in front-end development, which involves creating user
        interfaces for web applications as well as mobile applications for the
        Android platform. I also ensure that the interfaces I create are
        optimized for various devices and screen sizes, allowing users to access
        the application smoothly on desktops, tablets, and mobile phones.
      </p>
      <nav class="nav hidden lg:block text-white" aria-label="In-page jump links">
        <ul class="mt-4 w-max">
          <li class="hover:text-gray-400 active">
            <a class="group flex items-center py-3 active" href="#about"
              ><span
                class="nav-indicator mr-4 h-px"
              ></span
              ><span
                class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200"
                >About</span
              ></a
            >
          </li>
          <li class="hover:text-gray-400">
            <a class="group flex items-center py-3" href="#experience">
                <span class="nav-indicator mr-4 h-px"></span>
              <span
                class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">
                Experience
            </span>
            </a>
          </li>
          <li class="hover:text-gray-400">
            <a class="group flex items-center py-3" href="#projects"
              ><span
                class="nav-indicator mr-4 h-px"
              ></span
              ><span
                class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200"
                >Projects</span
              ></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
