<div class="page">
  <div class="grid grid-cols-2 p-24 h-full justify-center alignt content-center">
    <div class="px-8">
      <h1
        class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl text-white"
      >
        Sekar Syafira
      </h1>
      <h2
        class="my-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl text-white"
      >
        Front End Developer
      </h2>
      <p class="text-justify">
        I have expertise in front-end development, which involves creating user
        interfaces for web applications as well as mobile applications for the
        Android platform. I also ensure that the interfaces I create are
        optimized for various devices and screen sizes, allowing users to access
        the application smoothly on desktops, tablets, and mobile phones.
      </p>
      <nav
        class="nav hidden lg:block text-white"
        aria-label="In-page jump links"
      >
        <ul class="mt-4 w-max">
          <li class="hover:text-gray-400 active">
            <a class="group flex block items-center py-3 active" href="#about"
              ><span class="nav-indicator mr-4 h-px"></span
              ><span
                class="nav-text text-xs font-bold uppercase tracking-widest group-focus-visible:text-slate-200"
                >About</span
              ></a
            >
          </li>
          <li class="hover:text-gray-400">
            <a class="group flex block items-center py-3" href="#experience">
              <span class="nav-indicator mr-4 h-px"></span>
              <span
                class="nav-text text-xs font-bold uppercase tracking-widest group-focus-visible:text-slate-200"
              >
                Experience
              </span>
            </a>
          </li>
          <li class="hover:text-gray-400">
            <a class="group flex block items-center py-3" href="#projects"
              ><span class="nav-indicator mr-4 h-px"></span
              ><span
                class="nav-text text-xs font-bold uppercase tracking-widest group-focus-visible:text-slate-200"
                >Projects</span
              ></a
            >
          </li>
        </ul>
      </nav>
      <ul class="mt-3 text-white text-3xl flex items-center">
        <li>
          <a href="https://github.com/syfr456" class="block" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/sekar-syafira-81b616203/"
            class="block m-6"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/syfrfira_/"
            class="block"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="pr-8 text-white text-justify overflow-y-auto h-full">
      <section
        id="about"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
      >
        <p class="mb-4">
          Hello, I am Sekar Syafira, a Frontend developer who focuses on
          application development using the TypeScript programming language and
          the Angular framework. With the advancement of technology, I have
          honed my skills in utilizing TypeScript and Angular to create
          responsive, efficient, and visually appealing web applications.
          Through consistent experience with these technologies, I have
          developed a deep understanding of both fundamental principles and
          advanced techniques in Frontend development.
        </p>
        <p class="mb-4">
          My ability to quickly grasp programming knowledge enables me to keep
          up with the latest technological advancements easily and implement
          them in the projects I am working on. I always strive to learn new
          things and continuously improve my skills to remain relevant in the
          dynamic software development environment. Additionally, I have a
          strong interest in collaborating with teams to effectively and
          efficiently achieve project goals.
        </p>
        <p class="mb-4">
          As a development analyst, I have been involved in the process of
          analyzing and managing project requirements, ensuring that the
          developed applications meet user needs and expectations. I believe
          that understanding user needs well is the key to the success of
          developing satisfying and useful applications. Therefore, I always
          make an effort to communicate effectively with the team to ensure that
          every aspect of the project is well-executed and aligned with the
          overall vision.
        </p>
      </section>
      <section
        id="experience"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
      >
        <ol class="group/list">
          <li class="mb-12">
            <div
              class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
            >
              <div
                class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
              ></div>
              <header
                class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
                aria-label="2024 to Present"
              >
                Mei 2023 — Present
              </header>
              <div class="z-10 sm:col-span-6">
                <h3 class="font-medium leading-snug text-slate-200">
                  <div>
                    <a
                      class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                    >
                      <span
                        >Junior Frontend Developer · PT Intercom Digital
                        Indonesia (Placed at PT Avrist Assurance)</span
                      ></a
                    >
                  </div>
                </h3>
                <p class="mt-2 text-sm leading-normal">
                  To build new front-end features for the existing web admin and
                  nasabah web app, working collaboratively with developers,
                  designers, business analysts, and product managers to
                  implement and advocate for best practices in web
                  accessibility.
                </p>
                <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                  <li class="mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 pr-4 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      TypeScript
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      Angular
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      Tailwind Css
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      Bootstrap
                    </div>
                  </li>
                  <li class="mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      DevExtreme
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="mb-12">
            <div
              class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
            >
              <div
                class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
              ></div>
              <header
                class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
                aria-label="2018 to 2024"
              >
                Sep 2021 — Jan 2022
              </header>
              <div class="z-10 sm:col-span-6">
                <h3 class="font-medium leading-snug text-slate-200">
                  <div>
                    <a
                      class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                      ><span
                        >Intern Mobile and Cloud Developer · Nongsa Special
                        Economic Zone (Infinite Learning)
                      </span></a
                    >
                  </div>
                </h3>
                <p class="mt-2 text-sm leading-normal">
                  Building the front end for a mobile app, collaborating with a
                  team consisting of project managers, designers, and
                  developers. Projects run on a 3-month cycle, so within 6
                  months, we'll be working on 2 different apps.
                </p>
                <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      Android Studio
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      Java
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      Figma
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="mb-12">
            <div
              class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
            >
              <div
                class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
              ></div>
              <header
                class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
                aria-label="July to December 2017"
              >
                Mar 2021 — Sep 2021
              </header>
              <div class="z-10 sm:col-span-6">
                <h3 class="font-medium leading-snug text-slate-200">
                  <div>
                    <a
                      class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                      ><span
                        class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                      ></span
                      ><span
                        >Intern Front End Developer · PT Inforsys Indonesia Tbk.
                      </span></a
                    >
                  </div>
                </h3>
                <p class="mt-2 text-sm leading-normal">
                  Creating the front end of an ERP website model, working with a
                  team of 3 people and operating in relay with Agile Scrum
                  methodology, also addressing bugs during development.
                </p>

                <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                  <li class="mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 pr-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      Angular
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      SCSS
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      JavaScript
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      TypeScript
                    </div>
                  </li>
                  <li class="mr-1.5 mt-2">
                    <div
                      class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                    >
                      HTML & CSS
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ol>
        <a
          class="inline-flex items-baseline font-medium leading-tight text-slate-200 block focus-visible:text-teal-300 font-semibold text-slate-200 group/link text-base"
          href="https://drive.google.com/file/d/1Uf_eidhAJ3AtrXV3NhZyBKLFWpmYWDqt/view?usp=sharing"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="View Full Résumé (opens in a new tab)"
          ><span
            >View Full
            <span class="inline-block"
              >Resume<svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                  clip-rule="evenodd"
                ></path></svg></span></span
        ></a>
      </section>
      <section
        id="projects"
        class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
      >
        <div>
          <ul class="group/list">
            <li class="mb-12">
              <div
                class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
              >
                <div
                  class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
                ></div>
                <div class="z-10 sm:order-2 sm:col-span-6">
                  <h3 class="block">
                    <a
                      class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                      href="https://play.google.com/store/apps/details?id=com.banksampahkuantanbersih.mobile&pcampaignid=web_share"
                      target="_blank"
                      rel="noreferrer noopener"
                      aria-label="Build a Spotify Connected App (opens in a new tab)"
                      ><span
                        class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                      ></span
                      ><span
                        >Build a Bank Sampah App (Android Version) with Ionic Angular
                        <span class="inline-block"
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class=" inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                            aria-hidden="true"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                              clip-rule="evenodd"
                            ></path></svg></span></span
                    ></a>
                  </h3>
                  <p class="mt-2 text-sm leading-normal">
                    BSKB Mobile is an application that can be used by customers
                    of the Tanjung Pinang Clean Kuantan Waste Bank to conduct
                    waste sales transactions to the Tanjungpinang Clean Kuantan
                    Waste Bank, Riau Islan
                  </p>
                </div>
                <img
                 
                  loading="lazy"
                  width="200"
                  height="48"
                  decoding="async"
                  data-nimg="1"
                  class="rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
                  style="color: transparent"
                  
                  src="../../assets/appbxkb.jpg"
                />
              </div>
            </li>
            <li class="mb-12">
                <div
                  class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
                >
                  <div
                    class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
                  ></div>
                  <div class="z-10 sm:order-2 sm:col-span-6">
                    <h3 class="block">
                      <a
                        class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                        href="https://play.google.com/store/apps/details?id=com.banksampahkuantanbersih.mobile&pcampaignid=web_share"
                        target="_blank"
                        rel="noreferrer noopener"
                        aria-label="Build a Spotify Connected App (opens in a new tab)"
                        ><span
                          class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                        ></span
                        ><span
                          >Build a Website Bank Sampah (Web Version) with Ionic Angular
                          <span class="inline-block"
                            > <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                              aria-hidden="true"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                clip-rule="evenodd"
                              ></path></svg></span></span
                      ></a>
                    </h3>
                    <p class="mt-2 text-sm leading-normal">
                      BSKB Mobile is an application that can be used by customers
                      of the Tanjung Pinang Clean Kuantan Waste Bank to conduct
                      waste sales transactions to the Tanjungpinang Clean Kuantan
                      Waste Bank, Riau Islan
                    </p>
                  </div>
                  <img
                   
                    loading="lazy"
                    width="200"
                    height="48"
                    decoding="async"
                    data-nimg="1"
                    class="rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
                    style="color: transparent"
                    
                    src="../../assets/bskb.jpg"
                  />
                </div>
              </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
